/* Write your CSS here */
.bg {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: italic;
  text-align: center;
  font-size: 32px;
}
.description {
  color: #ffff;
  font-family: 'roboto';
  font-size: 30px;
  text-align: center;
}
.image {
  height: 20vh;
  width: 50vh;
  align-items: center;
}
.para {
  font-family: 'Roboto';
  color: #cbd5e1;
  font-size: 15px;
  text-align: center;
}
.button1 {
  color: #ffff;
  border: none;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #0b69ff;
  margin-right: 15px;
}
.button2 {
  color: #ffff;
  border-color: #ffff;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  border-width: 0.8px;
}
.btn-container {
  text-align: center;
  padding-top: 10px;
}
